{% extends 'base.html.twig' %}

{% block body %}
    <div class="container calc-wrapper">
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control calc-input" id="main-input">
                </div>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button">(</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button">)</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button">%</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button" id="ac-button">AC</button>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">7</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">8</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">9</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button">รท</button>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">4</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">5</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">6</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button">ร</button>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">1</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">2</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">3</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button">-</button>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">0</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button">.</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-primary calc-button" id="submit-button">=</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button">+</button>
            </div>
        </div>
    </div>
{% endblock %}
