{% extends 'base.html.twig' %}

{% block body %}
    <div class="container calc-wrapper">
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control calc-input" id="main-input">
                </div>
            </div>
        </div>
        <div class="d-flex flex-row" id="error-wrapper">
            <p class="text-bg-danger" id="error-text"></p>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button" disabled="disabled">(</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button" disabled="disabled">)</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button" disabled="disabled">%</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button" id="ac-button">AC</button>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="7">7</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="8">8</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="9">9</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button" data-val="/">รท</button>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="4">4</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="5">5</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="6">6</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button" data-val="*">ร</button>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="1">1</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="2">2</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="3">3</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button" data-val="-">-</button>
            </div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-4">
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val="0">0</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-light calc-button input-button" data-val=".">.</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-primary calc-button" id="submit-button">=</button>
            </div>
            <div class="p-2 bd-highlight">
                <button type="button" class="btn btn-secondary calc-button input-button" data-val="+">+</button>
            </div>
        </div>
    </div>
{% endblock %}
